

<!-- <div class="navbar" >
    <a routerLink="/login" style="float: right;">LOGIN</a>
 <a routerLink="/regis" style="float: right;">REGISTRATION</a>
</div> -->

<button routerLink="/regis" class="b2" >REGISTRATION</button>
<button routerLink="/login" class="b3" >LOGIN</button>

<div class="slideshow-container">

  <div class="mySlides fade">
  
    <img src="../../assets/140050.jpg" style="width:100%;max-height:850px" >
  </div>
  
  
  <div class="mySlides fade">
      <img src="../../assets/images/bomb.jpg" style="width:100%;max-height:850px" ><!--650-->
   
  </div>
  <div class="mySlides fade">
      <img src="../../assets/movie4.jpg" style="width:100%;max-height:850px" >
   
  </div>

  
  
  
  
  <br>
  
  <div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
  </div>
  
  
  