<mat-toolbar>
    <span><mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;ADMIN</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <button mat-stroked-button color="primary" routerLink="/home"><mat-icon>home</mat-icon>&nbsp;&nbsp;&nbsp;Home</button>&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button color="primary" routerLink="/add"><mat-icon>playlist_add</mat-icon>&nbsp;&nbsp;&nbsp;Add New Movie</button>&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button color="primary" routerLink="/polls"><mat-icon>list</mat-icon>&nbsp;&nbsp;&nbsp;View Poll Results</button>&nbsp;&nbsp;&nbsp; 
    <button mat-stroked-button color="primary" routerLink="/profile"><mat-icon>account_circle</mat-icon>&nbsp;&nbsp;&nbsp;View User Profiles</button>&nbsp;&nbsp;&nbsp; 
    <button mat-stroked-button  color="primary" routerLink="/archives"><mat-icon>archive</mat-icon>&nbsp;&nbsp;&nbsp;Archives</button>
    <button mat-stroked-button  color="primary" routerLink="/homes"><mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;LOGOUT</button>
  </mat-toolbar>

<div>
  <br>
  <mat-card>
      <h1>ARCHIVES</h1>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="archives">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef>Genre</th>
          <td mat-cell *matCellDef="let element">{{element.genre}}</td>
      </ng-container>

      <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef>Language</th>
          <td mat-cell *matCellDef="let element">{{element.language}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>

    </table>
    
  </mat-card>
</div>