.points{
    
    background-color: grey;
    width:500px;
    height:500px;
    position: relative;
    top:100px;
    left:800px;
    text-align: center;
    font-size: 30pt;
    color: rgb(14, 13, 15);

}

p{
    /* margin: 20px;
    padding-top:50px ; */
}

.back{
    /* background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://www.popsci.com/resizer/qYm5DuueH5w9kQO5H49ApM3uw48=/1008x671/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/B5PI7L24UOJIOPV3ZL2XN72YYE.jpg") ;
    width:100%;
    height:900px;
    background-repeat: repeat-x;
    position: relative;
    top:100px; */
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
      color:beige;
      text-align: center;
      /* padding: 14px 16px; */
      text-decoration: none;
    position: relative;
    top:-120px;
    left:1200px;
    padding-left:20px;
      padding-right:20px;
      padding-top:5px;
      padding-bottom:5px;
      border:none;

}
.b3{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
      color:beige;
      text-align: center;
      /* padding: 14px 16px; */
      text-decoration: none;
    position: relative;
    top:-63px;
    left:1720px;
    padding-left:20px;
      padding-right:20px;
      padding-top:15px;
      padding-bottom:15px;
      border:none;
  }
  
  .b3:hover{
    background-color: red;
    color:wheat
  }









  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  header{
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../assets/images/ba.jpg') ; */
    height:125vh; 
    position: relative;
    top:-80px;
    background-size: cover;
    background-position:center;
    background-repeat: repeat-x;
  }




  .container {
    position: relative;
    
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;

    overflow:visible;
    pointer-events:none;
    
  }
  
  .container:hover .overlay {
    opacity: 0.5;
    
  }
  .container:active .overlay {
     color:red
  }
 
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 70%;
    
    text-align: center;
  }

  .position{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
      color:beige;
      text-align: center;
      /* padding: 14px 16px; */
      text-decoration: none;
    position: relative;
    top:-95px;
    left:1450px;
    padding-left:20px;
      padding-right:20px;
      padding-top:5px;
      padding-bottom:5px;
      border:none;
  }

  .position:hover{
    background-color: red;
    color:wheat
  }
  html {
    background-color: black;
  } 



  .sign{
   position: relative;
   top:100px;
   left:800px;
   font-size: 20px;
   font-family: 'Courier New', Courier, monospace;
   color: burlywood;
  }
  
  .regis{
    position: relative;
    top:150px;
    left:750px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: burlywood;
   }

   .SignBtn{
     position: relative;
     top:100px;
     left:850px;
     font-family: 'Courier New', Courier, monospace;
     font-size: 30px;
     color:wheat;
     background-color: green;
     border-radius: 12px;
   }
   .RegisBtn{
    position: relative;
    top:150px;
    left:830px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color:wheat;
    background-color: green;
    border-radius: 12px;
  }
  .center{
    position: relative;
    top:150px;
    left:50px;
  }